body {
    background-color: #110077;
    font-family: Montserrat;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_box h1{
    font-weight: 200;
    font-size: 45px;
}

.main_box p {
    font-size: 20px;
}
.main_box {
    padding: 20px 20px 20px 20px;
    background-color: white;
    border: #950023 solid 3px;
    border-radius: 10px;
    text-align: center;
}

.field {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 10px;
    border: 1px black solid;
    width: 300px;
    height: 20px;
    border-radius: 25px;
    background-color: #d8d4f4;

}

.un-underlined {
    text-decoration: none;
}

.add-rm-btn {
    display: inline-block;
    border: 2px solid darkblue;
    border-radius: 15px;
    background-color: darkblue;
    width: 20%;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    margin-right:5px;
    padding: 3px 0 3px 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.add-rm-btn:hover {
    color:black;
    background-color: white;
}

.sgnup-lgin-btn {
    display: inline-block;
    margin:0 auto;
    margin-top: 5px;
    padding: 3px 0 3px 0;
    color: white;
    background-color: red;
    border: 2px solid red;
    border-radius: 50px;
    width: 30%;
    font-family: Montserrat;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.sgnup-lgin-btn:hover {
    color: black;
    background-color: white;
}

.fieldSet {
    border:solid 1px darkblue;
    border-radius: 10px;

}

/* Index Page CSS */

.header {
    color: white;
}

.header a{
    text-decoration: none;
    color:white;
}

.userSettings {
    text-align: right;
    margin: 66px 0 22px 0;
    font-weight: 300;
}

.logo {
    float: left;
    padding: 10px 0 22px 0;
    font-weight: 200;
    font-size:48px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.row,
.row-alt {
    min-width: 960px;
}

.row-alt {
    padding: 44px 0 22px 0;
    background: #8cb6f4;
    background: -webkit-linear-gradient(to right, #8cb6f4, #c8cff4);
    background:    -moz-linear-gradient(to right, #8cb6f4, #c8cff4);
    background:         linear-gradient(to right, #8cb6f4, #c8cff4);
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 960px;
}

.lead {
    text-align: center;
}

.lead h1 {
    font-weight: 300;
    font-size:36px;
    line-height:44px;
    margin-bottom:22px;
}

.lead p {
    font-size: 21px;
    line-height:33px;
}